.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(60px + (80 - 60) * ((100vw - 1200px) / (1920 - 1200)));
  width: 100%;
  background-color: purple;
  animation: 3s ease-in 1s 2 reverse both paused slidein;
}
@keyframes slidein { from { top:calc(-1 * (60px + (80 - 60) * ((100vw - 1200px) / (1920 - 1200)))); } to { top: 0; }  }

.app-bar.hidden {
  top: calc(-1 * (60px + (80 - 60) * ((100vw - 1200px) / (1920 - 1200))));
}